* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.window {
  height: 1000px;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

button {
  border: 1px solid black;
  padding: 5px 5px;
}

.clicked {
  background-color: steelblue;
}
